html {
	background-color: #00FFFF;
}

canvas{
	display: inline-block;
	position:fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
	margin:auto;
}

p{
	font-family: monospace;
	font-size: 14px;
	color: darkblue;
	text-align: center;
}